<?php
return [
    'los_basepath' => '',
    'dependencies' => [
        'factories' => [
            LosMiddleware\BasePath\BasePath::class => LosMiddleware\BasePath\BasePathFactory::class,
        ],
    ],
];
