<?php

return [

    'los_basepath' => '',

    'dependencies' => [
        'factories' => [
            LosMiddleware\BasePath\BasePath::class => LosMiddleware\BasePath\BasePathFactory::class,
        ],
    ],

    'middleware_pipeline' => [
        'routing' => [
            'middleware' => [
                [ 'middleware' => LosMiddleware\BasePath\BasePath::class ],
            ],
        ],
    ],

];
